html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header
   {
    height: 100vh;
  }
}
.view{
  height: 100vh;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: linear-gradient(to buttom, red,blue);
}

.top-nav-collapse {
  background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}

h1 {
  color: rgb(108, 245, 108);
  font-weight:900 ;
}

h3 {
  letter-spacing: 3px;
  color: rgb(81, 255, 81);
  font-weight:900 ;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

i{
  color: red;
  font-size: 50px;
  padding: 00px 20px 0px 20px;
}
.content{
  padding-top: 30vh;
}
a{
  color: chartreuse;
}
footer a{
  text-decoration: none;
  color: white;
}