html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header
   {
    height: 100vh;
  }
}
.view{
  height: 100vh;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: linear-gradient(to buttom, red,blue);
}

.top-nav-collapse {
  background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
  #btn{
    background-color: rgb(255, 174, 0);
  }
}

h1 {
  color: rgb(108, 245, 108);
  font-weight:900 ;
}

h3 {
  letter-spacing: 3px;
  color: rgb(81, 255, 81);
  font-weight:900 ;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

svg{
  font-size: 20px;
  height: 5vh;
  width: 20vh;
}
.content{
  padding-top: 30vh;
}
a{
  color: chartreuse;
}
footer a{
  text-decoration: none;
  color: white;
}

.topnav {
  overflow: hidden;
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: 1;
  margin-left: 20vh;
}

@media (max-width:600px){
  .topnav {
    position: fixed;
    width: 100%;
    z-index: 1;
    margin-left: 0vh;
    background-color: #78909c;
  }
}


.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}